@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #0F172A;
  --color-secondary: #F97316;
  --color-accent: #F8FAFC;
}

@layer base {
  body {
    @apply font-sans bg-accent text-primary antialiased;
  }
}
